In [4]:
import dataretrieval.nwis as nwis
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import mysql.connector

In [ ]:
# Example: Retrieve daily values for all sites in a state
state_code = "OR"  # Oregon

start_date = "2024-01-01"
end_date = "2025-01-01"

data = nwis.get_record(stateCd=state_code, service="dv", start=start_date, end=end_date)
data=data.reset_index()
print(data)

                site_no                  datetime  00010_Maximum  \
0              10382000 2024-01-01 00:00:00+00:00            NaN
1              10382000 2024-01-02 00:00:00+00:00            NaN
2              10382000 2024-01-03 00:00:00+00:00            NaN
3              10382000 2024-01-04 00:00:00+00:00            NaN
4              10382000 2024-01-05 00:00:00+00:00            NaN
...                 ...                       ...            ...
133740  453630122021400 2024-12-28 00:00:00+00:00            7.4
133741  453630122021400 2024-12-29 00:00:00+00:00            7.4
133742  453630122021400 2024-12-30 00:00:00+00:00            7.4
133743  453630122021400 2024-12-31 00:00:00+00:00            7.3
133744  453630122021400 2025-01-01 00:00:00+00:00            7.1

       00010_Maximum_cd  00010_Minimum 00010_Minimum_cd  00010_Mean  \
0                   NaN            NaN              NaN         NaN
1                   NaN            NaN              NaN         NaN
2                   NaN            NaN              NaN         NaN
3                   NaN            NaN              NaN         NaN
4                   NaN            NaN              NaN         NaN
...                 ...            ...              ...         ...
133740                P            7.2                P         7.3
133741                P            7.3                P         7.3
133742                P            7.3                P         7.3
133743                P            7.1                P         7.2
133744                P            7.0                P         7.1

       00010_Mean_cd  00020_Maximum 00020_Maximum_cd  ...  62625_Mean  \
0                NaN           -0.6                P  ...         NaN
1                NaN            6.1                P  ...         NaN
2                NaN            6.0                P  ...         NaN
3                NaN            4.3                P  ...         NaN
4                NaN            4.6                P  ...         NaN
...              ...            ...              ...  ...         ...
133740             P            NaN              NaN  ...         NaN
133741             P            NaN              NaN  ...         NaN
133742             P            NaN              NaN  ...         NaN
133743             P            NaN              NaN  ...         NaN
133744             P            NaN              NaN  ...         NaN

       62625_Mean_cd  00045_operational_Sum 00045_operational_Sum_cd  \
0                NaN                    NaN                      NaN
1                NaN                    NaN                      NaN
2                NaN                    NaN                      NaN
3                NaN                    NaN                      NaN
4                NaN                    NaN                      NaN
...              ...                    ...                      ...
133740           NaN                    NaN                      NaN
133741           NaN                    NaN                      NaN
133742           NaN                    NaN                      NaN
133743           NaN                    NaN                      NaN
133744           NaN                    NaN                      NaN

        00200_Maximum 00200_Maximum_cd  00200_Minimum 00200_Minimum_cd  \
0                 NaN              NaN            NaN              NaN
1                 NaN              NaN            NaN              NaN
2                 NaN              NaN            NaN              NaN
3                 NaN              NaN            NaN              NaN
4                 NaN              NaN            NaN              NaN
...               ...              ...            ...              ...
133740            NaN              NaN            NaN              NaN
133741            NaN              NaN            NaN              NaN
133742            NaN              NaN            NaN              NaN
133743            NaN              NaN            NaN              NaN
133744            NaN              NaN            NaN              NaN

        00200_Mean 00200_Mean_cd
0              NaN           NaN
1              NaN           NaN
2              NaN           NaN
3              NaN           NaN
4              NaN           NaN
...            ...           ...
133740         NaN           NaN
133741         NaN           NaN
133742         NaN           NaN
133743         NaN           NaN
133744         NaN           NaN

[133745 rows x 280 columns]

In [10]:
data_columns = data.columns

print(data_columns)

Index(['site_no', 'datetime', '00010_Maximum', '00010_Maximum_cd',
       '00010_Minimum', '00010_Minimum_cd', '00010_Mean', '00010_Mean_cd',
       '00020_Maximum', '00020_Maximum_cd',
       ...
       '62625_Mean', '62625_Mean_cd', '00045_operational_Sum',
       '00045_operational_Sum_cd', '00200_Maximum', '00200_Maximum_cd',
       '00200_Minimum', '00200_Minimum_cd', '00200_Mean', '00200_Mean_cd'],
      dtype='object', length=280)

In [11]:
data_dtypes = pd.DataFrame(data)

# View dtypes as a DataFrame
data_dtypes = pd.DataFrame({
    'Column Name': data_dtypes.columns,
    'Data Type': data_dtypes.dtypes.values
})

print(data_dtypes)

          Column Name            Data Type
0             site_no               object
1            datetime  datetime64[ns, UTC]
2       00010_Maximum              float64
3    00010_Maximum_cd               object
4       00010_Minimum              float64
..                ...                  ...
275  00200_Maximum_cd               object
276     00200_Minimum              float64
277  00200_Minimum_cd               object
278        00200_Mean              float64
279     00200_Mean_cd               object

[280 rows x 2 columns]

In [12]:
for col in data.columns:
    if data[col].dtypes == 'object':  # Check if dtype is object
        data[col] = data[col].astype('string')  # Convert to string

# Verify the changes
print(data.dtypes)

site_no                  string[python]
datetime            datetime64[ns, UTC]
00010_Maximum                   float64
00010_Maximum_cd         string[python]
00010_Minimum                   float64
                           ...
00200_Maximum_cd         string[python]
00200_Minimum                   float64
00200_Minimum_cd         string[python]
00200_Mean                      float64
00200_Mean_cd            string[python]
Length: 280, dtype: object

In [13]:
from sqlalchemy import create_engine, text

# Create the engine with the MySQL connection string
engine = create_engine('mysql+mysqlconnector://cabotc:xFblthpx1!xkcdsmbc@localhost:3306/usgs')

# Test the connection by fetching the database version
with engine.connect() as conn:
    # Use text() to wrap the SQL query
    result = conn.execute(text("SELECT VERSION()"))
    
    # Fetch and print the result
    print(result.fetchone())

('8.0.40',)

In [14]:
data.to_sql('or_dvs', con=engine, if_exists='append', index=False, chunksize=1000)

-134

In [19]:
# Rollback the connection
connection = engine.connect()
connection.rollback()  # Rollback any pending transaction