In [31]:
import dataretrieval.nwis as nwis
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import mysql.connector

In [ ]:
#Get list of sites in Oregon
site_list_or = nwis.what_sites(stateCd="OR")

df = site_list_or[0]  # Assuming the DataFrame is the first element
print(df.head()) 

print(df)

  agency_cd   site_no  ... alt_datum_cd      huc_cd
0      USGS  01970000  ...       NGVD29  17070307.0
1      USGS  10366000  ...       NGVD29  17120007.0
2      USGS  10366500  ...       NGVD29  17120007.0
3      USGS  10367000  ...       NGVD29  17120007.0
4      USGS  10367500  ...       NGVD29  17120007.0

[5 rows x 12 columns]
      agency_cd   site_no  ... alt_datum_cd      huc_cd
0          USGS  01970000  ...       NGVD29  17070307.0
1          USGS  10366000  ...       NGVD29  17120007.0
2          USGS  10366500  ...       NGVD29  17120007.0
3          USGS  10367000  ...       NGVD29  17120007.0
4          USGS  10367500  ...       NGVD29  17120007.0
...         ...       ...  ...          ...         ...
18787      USGS  85360000  ...       NGVD29  17100301.0
18788      USGS  87460000  ...       NGVD29  17060104.0
18789      USGS  87970000  ...       NGVD29  17050119.0
18790      USGS  92900000  ...       NGVD29  17120009.0
18791      USGS  93160000  ...       NGVD29  17070301.0

[18792 rows x 12 columns]

In [18]:
#Find dimensions of dataframe to create MySQL table
dtypes = df.dtypes
print(dtypes)

agency_cd              object
site_no                object
station_nm             object
site_tp_cd             object
dec_lat_va            float64
dec_long_va           float64
coord_acy_cd           object
dec_coord_datum_cd     object
alt_va                float64
alt_acy_va            float64
alt_datum_cd           object
huc_cd                float64
dtype: object

In [21]:
#Convert dataframe to MySQL acceptable types
df['agency_cd'] = df['agency_cd'].astype('string')
df['site_no'] = df['site_no'].astype('int64')
df['station_nm'] = df['station_nm'].astype('string')
df['site_tp_cd'] = df['site_tp_cd'].astype('string')
df['dec_lat_va'] = df['dec_lat_va'].astype('float64')
df['dec_long_va'] = df['dec_long_va'].astype('float64')
df['coord_acy_cd'] = df['coord_acy_cd'].astype('string')
df['dec_coord_datum_cd'] = df['dec_coord_datum_cd'].astype('string')
df['alt_va'] = df['alt_va'].astype('float64')
df['alt_acy_va'] = df['alt_acy_va'].astype('float64')
df['alt_datum_cd'] = df['alt_datum_cd'].astype('string')
df['huc_cd'] = df['huc_cd'].astype('float64')

In [22]:
print(df.dtypes)

agency_cd             string[python]
site_no                        int64
station_nm            string[python]
site_tp_cd            string[python]
dec_lat_va                   float64
dec_long_va                  float64
coord_acy_cd          string[python]
dec_coord_datum_cd    string[python]
alt_va                       float64
alt_acy_va                   float64
alt_datum_cd          string[python]
huc_cd                       float64
dtype: object

In [32]:
from sqlalchemy import create_engine, text

# Create the engine with the MySQL connection string
engine = create_engine('mysql+mysqlconnector://cabotc:xFblthpx1!xkcdsmbc@localhost:3306/usgs')

# Test the connection by fetching the database version
with engine.connect() as conn:
    # Use text() to wrap the SQL query
    result = conn.execute(text("SELECT VERSION()"))
    
    # Fetch and print the result
    print(result.fetchone())

('8.0.40',)

In [33]:
df.to_sql('or_sites', con=engine, if_exists='append', index=False)

-1