In [1]:
import dataretrieval.nwis as nwis
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
import mysql.connector

In [3]:
# Example: Retrieve daily values for all sites in a state
state_code = "OR"  # Oregon
parameter_code = "00060"
start_date = "2024-01-01"
end_date = "2025-01-01"

data = nwis.get_record(stateCd=state_code, service="dv", start=start_date, end=end_date)
print(data)

                                           00010_Maximum 00010_Maximum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00            NaN              NaN
                2024-01-02 00:00:00+00:00            NaN              NaN
                2024-01-03 00:00:00+00:00            NaN              NaN
                2024-01-04 00:00:00+00:00            NaN              NaN
                2024-01-05 00:00:00+00:00            NaN              NaN
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            7.4                P
                2024-12-29 00:00:00+00:00            7.4                P
                2024-12-30 00:00:00+00:00            7.4                P
                2024-12-31 00:00:00+00:00            7.3                P
                2025-01-01 00:00:00+00:00            7.1                P

                                           00010_Minimum 00010_Minimum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00            NaN              NaN
                2024-01-02 00:00:00+00:00            NaN              NaN
                2024-01-03 00:00:00+00:00            NaN              NaN
                2024-01-04 00:00:00+00:00            NaN              NaN
                2024-01-05 00:00:00+00:00            NaN              NaN
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            7.2                P
                2024-12-29 00:00:00+00:00            7.3                P
                2024-12-30 00:00:00+00:00            7.3                P
                2024-12-31 00:00:00+00:00            7.1                P
                2025-01-01 00:00:00+00:00            7.0                P

                                           00010_Mean 00010_Mean_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00         NaN           NaN
                2024-01-02 00:00:00+00:00         NaN           NaN
                2024-01-03 00:00:00+00:00         NaN           NaN
                2024-01-04 00:00:00+00:00         NaN           NaN
                2024-01-05 00:00:00+00:00         NaN           NaN
...                                               ...           ...
453630122021400 2024-12-28 00:00:00+00:00         7.3             P
                2024-12-29 00:00:00+00:00         7.3             P
                2024-12-30 00:00:00+00:00         7.3             P
                2024-12-31 00:00:00+00:00         7.2             P
                2025-01-01 00:00:00+00:00         7.1             P

                                           00020_Maximum 00020_Maximum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00           -0.6                P
                2024-01-02 00:00:00+00:00            6.1                P
                2024-01-03 00:00:00+00:00            6.0                P
                2024-01-04 00:00:00+00:00            4.3                P
                2024-01-05 00:00:00+00:00            4.6                P
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            NaN              NaN
                2024-12-29 00:00:00+00:00            NaN              NaN
                2024-12-30 00:00:00+00:00            NaN              NaN
                2024-12-31 00:00:00+00:00            NaN              NaN
                2025-01-01 00:00:00+00:00            NaN              NaN

                                           00020_Minimum 00020_Minimum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00           -2.9                P
                2024-01-02 00:00:00+00:00           -1.7                P
                2024-01-03 00:00:00+00:00           -0.4                P
                2024-01-04 00:00:00+00:00           -0.2                P
                2024-01-05 00:00:00+00:00           -2.0                P
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            NaN              NaN
                2024-12-29 00:00:00+00:00            NaN              NaN
                2024-12-30 00:00:00+00:00            NaN              NaN
                2024-12-31 00:00:00+00:00            NaN              NaN
                2025-01-01 00:00:00+00:00            NaN              NaN

                                           ...  62625_Mean 62625_Mean_cd  \
site_no         datetime                   ...
10382000        2024-01-01 00:00:00+00:00  ...         NaN           NaN
                2024-01-02 00:00:00+00:00  ...         NaN           NaN
                2024-01-03 00:00:00+00:00  ...         NaN           NaN
                2024-01-04 00:00:00+00:00  ...         NaN           NaN
                2024-01-05 00:00:00+00:00  ...         NaN           NaN
...                                        ...         ...           ...
453630122021400 2024-12-28 00:00:00+00:00  ...         NaN           NaN
                2024-12-29 00:00:00+00:00  ...         NaN           NaN
                2024-12-30 00:00:00+00:00  ...         NaN           NaN
                2024-12-31 00:00:00+00:00  ...         NaN           NaN
                2025-01-01 00:00:00+00:00  ...         NaN           NaN

                                           00045_operational_Sum  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00                    NaN
                2024-01-02 00:00:00+00:00                    NaN
                2024-01-03 00:00:00+00:00                    NaN
                2024-01-04 00:00:00+00:00                    NaN
                2024-01-05 00:00:00+00:00                    NaN
...                                                          ...
453630122021400 2024-12-28 00:00:00+00:00                    NaN
                2024-12-29 00:00:00+00:00                    NaN
                2024-12-30 00:00:00+00:00                    NaN
                2024-12-31 00:00:00+00:00                    NaN
                2025-01-01 00:00:00+00:00                    NaN

                                          00045_operational_Sum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00                      NaN
                2024-01-02 00:00:00+00:00                      NaN
                2024-01-03 00:00:00+00:00                      NaN
                2024-01-04 00:00:00+00:00                      NaN
                2024-01-05 00:00:00+00:00                      NaN
...                                                            ...
453630122021400 2024-12-28 00:00:00+00:00                      NaN
                2024-12-29 00:00:00+00:00                      NaN
                2024-12-30 00:00:00+00:00                      NaN
                2024-12-31 00:00:00+00:00                      NaN
                2025-01-01 00:00:00+00:00                      NaN

                                           00200_Maximum 00200_Maximum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00            NaN              NaN
                2024-01-02 00:00:00+00:00            NaN              NaN
                2024-01-03 00:00:00+00:00            NaN              NaN
                2024-01-04 00:00:00+00:00            NaN              NaN
                2024-01-05 00:00:00+00:00            NaN              NaN
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            NaN              NaN
                2024-12-29 00:00:00+00:00            NaN              NaN
                2024-12-30 00:00:00+00:00            NaN              NaN
                2024-12-31 00:00:00+00:00            NaN              NaN
                2025-01-01 00:00:00+00:00            NaN              NaN

                                           00200_Minimum 00200_Minimum_cd  \
site_no         datetime
10382000        2024-01-01 00:00:00+00:00            NaN              NaN
                2024-01-02 00:00:00+00:00            NaN              NaN
                2024-01-03 00:00:00+00:00            NaN              NaN
                2024-01-04 00:00:00+00:00            NaN              NaN
                2024-01-05 00:00:00+00:00            NaN              NaN
...                                                  ...              ...
453630122021400 2024-12-28 00:00:00+00:00            NaN              NaN
                2024-12-29 00:00:00+00:00            NaN              NaN
                2024-12-30 00:00:00+00:00            NaN              NaN
                2024-12-31 00:00:00+00:00            NaN              NaN
                2025-01-01 00:00:00+00:00            NaN              NaN

                                           00200_Mean 00200_Mean_cd
site_no         datetime
10382000        2024-01-01 00:00:00+00:00         NaN           NaN
                2024-01-02 00:00:00+00:00         NaN           NaN
                2024-01-03 00:00:00+00:00         NaN           NaN
                2024-01-04 00:00:00+00:00         NaN           NaN
                2024-01-05 00:00:00+00:00         NaN           NaN
...                                               ...           ...
453630122021400 2024-12-28 00:00:00+00:00         NaN           NaN
                2024-12-29 00:00:00+00:00         NaN           NaN
                2024-12-30 00:00:00+00:00         NaN           NaN
                2024-12-31 00:00:00+00:00         NaN           NaN
                2025-01-01 00:00:00+00:00         NaN           NaN

[133573 rows x 278 columns]

In [5]:
data_columns = data.columns

print(data_columns)

Index(['00010_Maximum', '00010_Maximum_cd', '00010_Minimum',
       '00010_Minimum_cd', '00010_Mean', '00010_Mean_cd', '00020_Maximum',
       '00020_Maximum_cd', '00020_Minimum', '00020_Minimum_cd',
       ...
       '62625_Mean', '62625_Mean_cd', '00045_operational_Sum',
       '00045_operational_Sum_cd', '00200_Maximum', '00200_Maximum_cd',
       '00200_Minimum', '00200_Minimum_cd', '00200_Mean', '00200_Mean_cd'],
      dtype='object', length=278)

In [9]:
data_dtypes = pd.DataFrame(data)

# View dtypes as a DataFrame
data_dtypes = pd.DataFrame({
    'Column Name': data_dtypes.columns,
    'Data Type': data_dtypes.dtypes.values
})

print(data_dtypes)

          Column Name Data Type
0       00010_Maximum   float64
1    00010_Maximum_cd    object
2       00010_Minimum   float64
3    00010_Minimum_cd    object
4          00010_Mean   float64
..                ...       ...
273  00200_Maximum_cd    object
274     00200_Minimum   float64
275  00200_Minimum_cd    object
276        00200_Mean   float64
277     00200_Mean_cd    object

[278 rows x 2 columns]

In [12]:
for col in data.columns:
    if data[col].dtypes == 'object':  # Check if dtype is object
        data[col] = data[col].astype('string')  # Convert to string

# Verify the changes
print(data.dtypes)

00010_Maximum              float64
00010_Maximum_cd    string[python]
00010_Minimum              float64
00010_Minimum_cd    string[python]
00010_Mean                 float64
                         ...
00200_Maximum_cd    string[python]
00200_Minimum              float64
00200_Minimum_cd    string[python]
00200_Mean                 float64
00200_Mean_cd       string[python]
Length: 278, dtype: object

In [21]:
from sqlalchemy import create_engine, text

# Create the engine with the MySQL connection string
engine = create_engine('mysql+mysqlconnector://cabotc:xFblthpx1!xkcdsmbc@localhost:3306/usgs')

# Test the connection by fetching the database version
with engine.connect() as conn:
    # Use text() to wrap the SQL query
    result = conn.execute(text("SELECT VERSION()"))
    
    # Fetch and print the result
    print(result.fetchone())

('8.0.40',)

In [22]:
data.to_sql('or_dvs', con=engine, if_exists='append', index=False, chunksize=1000)

-134

In [19]:
# Rollback the connection
connection = engine.connect()
connection.rollback()  # Rollback any pending transaction